.header {
    background-color: rgb(21, 43, 61);
    border-radius: 1rem;
    display: flex;

}
.heding {
    padding-left: 4rem;
    padding-top: 0.5rem;
    background-color: rgb(21, 43, 61);
    color: rgb(255, 255, 255);
}


@media screen and (max-width:620px){
 
.heding  {
  font-size: 1.5rem;

}


   
}

@media screen and (max-width:500px){
    
.heding {
    padding-left: 2rem;
    font-size: larger;
    padding-top: 0.25rem;
}

}

@media screen and (max-width:360px){
    
    .header {
      height: 3rem;

    }
    
    .heding{
        font-size: medium;
        padding-top: 0.25rem;

    }
    }